@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.top {
  all: unset;
  display: scroll;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: rgb(197, 197, 197);
  z-index: 1000;
  cursor: pointer;
  transition: all 0.5s linear;
}
/* .top:hover {
  color: #19c3f6;
  cursor: pointer;
  transition: all 0.5s linear;
} */
/* //////////////APP//////////////// */
.APP {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: #fafafa; */
}
.TITLE {
  all: unset;
  color: black;
  cursor: pointer;
}
.greeim {
  height: 15vh;
  font-size: 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
}
/* //////////////NAVigation//////////////// */
.Navigation {
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 100vw;
}
.link {
  all: unset;
  color: rgb(150, 149, 149);
  cursor: pointer;
  margin: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
.link.first {
  all: unset;
  color: #19c3f6;
  cursor: pointer;
  margin: 5px;
  margin-left: 25px;
  margin-right: 25px;
}
/* //////////////MAIN - illustration//////////////// */
.MAIN {
  margin-top: 50px;
  width: 80vw;
  max-width: 1500px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MAIN_container {
  width: 70%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: auto;
}
@media screen and (max-width: 1200px) {
  .MAIN_container {
    width: 100%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-rows: auto;
  }
}
.column_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
/*//////////Screen//////////*/
@media screen and (max-width: 750px) {
  .MAIN_container {
    width: 80%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-rows: auto;
  }
  .greeim {
    height: 18vh;
    font-size: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
  }
  .link {
    all: unset;
    font-size: 0.8em;
    color: rgb(150, 149, 149);
    cursor: pointer;
    margin: 10px;
    margin-right: 15px;
  }
  .link.first {
    all: unset;
    font-size: 0.8em;
    color: #19c3f6;
    cursor: pointer;
    margin: 5px;
    margin-right: 15px;
  }

  .show_onclick .imgbox_draw .darkness_draw:hover {
    cursor: pointer;
    background: #fcfdff00;
    transition: all 0.001s linear;
  }
  /*///////-email/////////*/
}
.img_draw {
  height: auto;
  width: 100%;
  /* border: 3px solid #eaeaea; */
  border-radius: 20px;
  z-index: -10;
}
.show {
  height: auto;
}
/*//////////when user click img//////////*/
.show_onclick {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0px;
  height: 100vh;
  background-color: rgba(87, 87, 87, 0.801);
  z-index: 10000;
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* blurr effect */
  backdrop-filter: blur(6px);
}
.show_onclick .Goods_controller {
  width: 50%;
  margin: auto;
}
.show_onclick .img_draw {
  max-width: 90vw;
  max-height: 80vh;
  width: auto;
}
.show_onclick .Goods_text {
  word-break: normal;
  color: white;
  font-size: 1.2rem;
}
.show_onclick .imgbox_draw .darkness_draw:hover {
  cursor: pointer;
  background: #2172eb00;
  transition: all 0.5s linear;
}
.show_onclick .imgbox_draw .darkness_draw {
  cursor: pointer;
  background: #2172eb00;
  transition: all 0.5s linear;
}
/*//////////when user click img - end//////////*/
.imgbox_draw {
  position: relative;
}
.darkness_draw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6c6c6d85;
  background: #2171eb;
  color: white;
  opacity: 0;
  transition: all 0.25s linear;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 1em;
  cursor: pointer;
}
.darkness_draw:hover {
  /* opacity: 0.5; */
  opacity: 0.2;
  transition: all 0.2s linear;
  /* box-shadow: 1px 1px 20px rgb(110, 110, 110); */
}
.DeleteEdit_img {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.btn_draw {
  margin-right: 5px;
  font-size: 0.35em;
}
.btn_draw:hover {
  transition: ease-in;
  color: #19c3f6;
}
.edit_draw {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.editbtn_draw {
  all: unset;
  cursor: pointer;
}
.editbtn_draw:hover {
  transition: ease-in;
  color: #19c3f6;
}

.Goods_controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #eaeaea;
}

/* //////////////Design - Goods//////////////// */
.Goods_text {
  word-break: normal;
  margin: 10px;
  font-size: 0.7em;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* //////////////Design - Goods//////////////// */

.insta_link {
  all: unset;
  color: gray;
  font-size: 1.2rem;
  cursor: pointer;
  align-self: center;
  margin-bottom: 4vh;
  margin-top: 2.9vh;
}
.insta_link:hover {
  color: #19c3f6;
}
.before_login {
  height: 70vh;
  min-height: 600px;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 2rem;
  margin: 30px;
}
.contact_text {
  height: 30vh;
}

/* //////////////Auth//////////////// */

.auth {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth_btn {
  all: unset;
  color: rgb(219, 218, 218);
}
.admin_password {
  all: unset;
  color: rgb(200, 199, 199);
  background-color: rgb(249, 251, 251);
  border-radius: 10px;
  width: 40px;
}

/* //////////////Contact Admin//////////////// */
.admin_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  height: 80vh;
}
.admin_logout {
  align-self: center;
  cursor: pointer;
  margin: 30px;
  margin-top: 60px;
}
.admin_logout:hover {
  color: #19c3f6;
}
.admin_Illustration {
  align-self: center;
  color: #19c3f6;
  margin: 10px;
}
.admin_Design {
  align-self: center;
  color: #19c3f6;
}
/* //////////////AddDraw - input//////////////// */
.illust {
  background-color: #e0f6fd;
  height: 30vh;
  border-radius: 20px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  padding: 10px;
  margin: 10px;
}
.adddraw_textinput {
  all: unset;
  color: rgb(97, 96, 96);
  background-color: rgb(247, 255, 255);
  border-radius: 10px;
  width: auto;
  height: 30px;
  margin: 10px;
  padding-left: 10px;
}
.adddraw_submit {
  all: unset;
  cursor: pointer;
}
.adddraw_submit:hover {
  color: #19c3f6;
}
.adddraw_attachment {
  width: 80px;
  height: 80px;
  margin-left: 10px;
}
.adddraw_imginput {
  cursor: pointer;
  margin: 10px;
}
.adddraw_imginput:hover {
  color: #19c3f6;
}
/* //////////////Footer//////////////// */
.footer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  margin: 10px;
}
.footer_text {
  margin-bottom: 10px;
}
/* //////////////Sedn email!//////////////// */
.contact-form {
  background-color: #e0f6fd;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  width: 60%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.contact_name,
.email {
  all: unset;
  border-radius: 20px;
  height: 20px;
  background-color: white;
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
}
textarea {
  all: unset;
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
  height: 150px;
  padding-left: 15px;
}
.Contact_send {
  all: unset;
  cursor: pointer;
  align-self: center;
}
.Contact_send:hover {
  color: #19c3f6;
}
@media screen and (max-width: 420px) {
  .contact-form {
    background-color: #e0f6fd;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    width: 60%;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}

/* 로딩 애니메이션 */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.8s;
  animation-name: animatebottom;
  animation-duration: 0.8s;
}
.loadingCOMPONENT {
  margin-top: 20vh;
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 2.2s;
  animation-name: animatetop;
  animation-duration: 2.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loadingTEXT {
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 5vh;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -70px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -70px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animatetop {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: -40px;
    opacity: 0;
  }
}

@keyframes animatetop {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: -40px;
    opacity: 0;
  }
}

#myDiv {
  display: none;
  text-align: center;
}
.detail_body {
  margin: 30px;
  max-width: 700px;
  width: 90%;
}
.detail_text {
  font-size: 1.2em;
  margin: 30px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail_img_draw {
  height: auto;
  width: 100%;
  /* border: 3px solid #eaeaea; */
  /* border-radius: 20px; */
}
